#file { float: left; }
#myProgressbar.ui-progressbar { height: 1em; width: 221px; margin: 3px 0 0 4px; float: left; }
#filename { float: left; margin: 4px 0 0 10px; font-family: Verdana; font-size: 12px; }