.status-message { padding: 11px 8px 10px; margin: 0; border: 1px solid #aaa; 
  position: absolute; right: 10px; top: 9px; font-size: 11px; background-color: #fff; }
.ui-widget-header { color: #2e6e9e; font-weight: bold; }