#drag { width: 114px; height: 114px; background: url(../img/draggable.png) no-repeat; }
.ui-draggable-dragging { cursor: move; }
#drag.up { width:120px; height:121px; background:url(../img/draggable_on.png) no-repeat; }